@model Demo.Models.customer

@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Header_login.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<section class="content">
    <div class="container">
        <h1 class="text-center">Personal Information</h1>
        <hr />
        <div class="row">
            @Html.ValidationSummary(false, "", new { @class = "validation-summary-errors" })

            <div class="col-6">
                <strong>Name</strong>
                <div class="form-group">
                    @Html.EditorFor(model => model.full_name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="col-6">
                <strong>Password</strong>
                <div class="form-group">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>


            <div class="col-6">
                <strong>Email</strong>
                <div class="form-group">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="col-6">
                <strong>Phone</strong>
                <div class="form-group">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Save" class=" ml-4" />
                <p class="mt-2 ml-4"><a href="@Url.Action(" Home", "Home" )" class="">Back to Home</a></p>
            </div>

        </div>
    </div>
</section>
}




<style>
    .validation-summary-errors ul {
        list-style: none; /* Loại bỏ dấu chấm ở đầu danh sách lỗi */
        padding-left: 0; /* Loại bỏ khoảng cách bên trái */
    }

    .validation-summary-errors {
        color: #ff0000; /* Màu đỏ cho chữ */
        text-align: center;
        font-size: large;
    }
</style>