<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="~/images/favicon.ico">
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="~/css/stuck.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/ihover.css">
    <title>@Session["PageTitle"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="page1" id="top">
    <header>
        <section id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="Home">
                                <img src="~/images/logo.png" alt="Logo alt">
                            </a>
                        </h1>
                        <div class="navigation">
                            <nav>
                                <ul class="menu">
                                    <li id="home">@Html.ActionLink("Home", "Home", "Home")</li>
                                    <li id="category">
                                        <a href="">Category</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a id="web" href="@Url.Action("getAllProject", "Project", new {category = "Web"})">Web</a>
                                            </li>
                                            <li>
                                                <a id="app" href="@Url.Action("getAllProject", "Project", new {category = "App"})">App</a>
                                            </li>
                                            <li>
                                                <a id="game" href="@Url.Action("getAllProject", "Project", new {category = "Game"})">Game</a>
                                            </li>
                                            <li>
                                                <a id="database" href="@Url.Action("getAllProject", "Project", new {category = "Database"})">Database</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="contacts">@Html.ActionLink("Contacts", "Contacts", "Home")</li>
                                    <li id="search">
                                        @using (Html.BeginForm("getAllProject", "Project", FormMethod.Get, new { @class = "form-inline" }))
                                        {
                                            <div class="row">
                                                <input type="text" id="search_text" name="searchString" value="" placeholder=" Enter keyword ..." />
                                                <button type="submit" style=" color: white; font-weight: 700; background: #82B440; width: 70px; height: 30px; border: none;">Search</button>
                                            </div>
                                        }
                                    </li>
                                    <li id="cart">
                                        <a href="@Url.Action("CartPartial", "Cart")">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    @{
                                        var customer = Session["Customer"] as Demo_WP1.Models.customer;
                                    }
                                    @if (Session["Customer"] != null)
                                    {
                                       <li id="user" style="width: 100px;">
                                           <a href="@Url.Action("Information", "Customer", new {id = customer.id})"><i class="fa fa-user" aria-hidden="true"></i></a>                                        <ul class="sub-menu">
                                               <li>
                                                   <a id="web" href="@Url.Action("Information", "Customer", new {@id = customer.id})">Thông tin cá nhân</a>
                                               </li>
                                               <li>
                                                   <a id="app" href="@Url.Action("product_history", "Customer", new {@id = customer.id})">Lịch sử giao dịch</a>
                                               </li>
                                               <li>
                                                   <a id="game" href="@Url.Action("Category", "Home")">Đăng xuất</a>
                                               </li>
                                           </ul>
                                       </li>
                                    }
                                    else
                                    {
                                        <li id="no_user"><a href="@Url.Action("Login","User")"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>





    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <div class="socials">
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                            <a href="#" class="fa fa-youtube-play"></a>
                        </div>
                        <div class="copyright">
                            <span class="brand">Web Design</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>





    <script src="~/js/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery-migrate-1.1.1.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/superfish.js"></script>
    <script src="~/js/jquery.equalheights.js"></script>
    <script src="~/js/jquery.mobilemenu.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/tmStickUp.js"></script>
    <script src="~/js/jquery.ui.totop.js"></script>
    <script>
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });
            $('#stuck_container').tmStickUp({});
        });

    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
 
   .menu li#category{
       position:relative;
   }
    .sub-menu {
        position: absolute;
        list-style: none;
        display:none;
    }
    #category:hover .sub-menu {
        display: block;
    }
  
        .sub-menu li:hover a {
            color: #fff;
        }
    #web:hover, #app:hover, #game:hover, #database:hover {
        color: white;
    }
    .menu #search {
        display: flex;
        margin: 7.5px 0px;
        justify-content: center;
    }
    #search_box {
        margin: 1.68px 0px;
        background: #fff;
    }
    #search_text {
        border: none;
        outline: none;
        height: 28px;
    }
</style>
